body {
  background-color: lavender;
}

h1 {
  color: maroon
}

h3 {
  color: maroon
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

img:hover {
  background-color: maroon;
}

.pistol {
  background-color: green;
}
